<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="mb-3">{{ 'general.file.upload' | trans }}</h4>
                {% if filename is defined and filename is not null %}
                    <div class="alert alert-success mb-1" role="alert">
                        <div class="extra-small small mb-2"><strong>{{ 'general.upload_succeed' | trans }}</strong>
                        </div>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.filename_custom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.file) }}
                    </div>
                </div>
                {{ form_row(form._submit, {'attr': {'class': 'btn-primary btn-lg mt-4'}}) }}
                {{ form_end(form) }}
            </div>
            <div class="col-md-4 mb-4 mt-5 mt-md-0">
                right side
            </div>
        </div>
    </div>
</div>